<div id="warning" style="display:none;">
    <p>
    obsstudio API not available (probably not running inside OBS)<br />
    You can test available functions with the buttons above.
    </p>
    <p>Load this page into an OBS-Studio Browser Source</p>
    <p>
    Width: 2560<br/>
    Height 1440<br/>
    Page permissions: Read access to user Information
    </p>
    <p id="TRANSITION_ACTIONS">
    Create Scene Transitions (any settings):
    </p>
    <p>
    Toggle a Scene Transition to animate..<br/>
    Can use Stream Deck with the OBS Studio plugin.
    </p>
</div>