<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ '/assets/css/main.min.css' | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ '/assets/css/fontawesome.min.css' | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ '/assets/css/solid.min.css' | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ '/assets/css/brands.min.css' | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ '/assets/css/terminal.min.css' | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ '/assets/css/particles.min.css' | prepend: site.baseurl }}">
  {% if page.layout == "stream_overlay" %}<link rel="stylesheet" href="{{ '/assets/css/stream_overlay.min.css' | prepend: site.baseurl }}">{% endif %}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Press+Start+2P">
  <link rel="shortcut icon" type="image/png" href="{{ '/assets/favicon.png' | prepend: site.baseurl }}" >
</head>
