<div id="particles-js" style="background-color: #151720;">
  <div class="header">
      <h1>
        <div id="title-wrap">
          <span id="greaterthan" class="rgb-text">&gt;</span>
          <span id="prefix" class="rgb-text">{{ site.prefix }}</span>
          <span id="typing_text_1">{{ site.typing_text_1 }}</span>
          <span id="typing_text_2">{{ site.typing_text_2 }}</span>
          <span id="cursor" class="rgb-text">▋</span>
        </div>
        <span class="site-description">{{ site.user_description }}</span>
      </h1>
      <div class="header-icons">
        {% if site.email %}
        <a aria-label="Send email" href="mailto:{{ site.email }}"><i class="icon fa fa-envelope"></i></a>
        {% endif %}
        {% if site.github_username %}
        <a aria-label="My Github" target="_blank" href="https://github.com/{{ site.github_username }}"><i class="icon fa fa-brands fa-github-alt" aria-hidden="true"></i></a>
        {% endif %}
        {% if site.youtube_at %}
        <a aria-label="My YouTube" target="_blank" href="https://youtube.com/@{{ site.youtube_at }}"><i class="icon fa fa-brands fa-youtube" aria-hidden="true"></i></a>
        {% endif %}
        {% if site.twitter_username %}
        <a aria-label="My X/Twitter" target="_blank" href="https://x.com/{{ site.twitter_username }}"><i class="icon fa fa-brands fa-x-twitter" aria-hidden="true"></i></a>
        {% endif %}
        {% if site.discord_invite %}
        <a aria-label="My Discord Server" target="_blank" href="https://discord.gg/{{ site.discord_invite }}"><i class="icon fa fa-brands fa-discord" aria-hidden="true"></i></a>
        {% endif %}
        {% if site.kofi_username %}
        <a aria-label="My Ko-Fi" target="_blank" href="https://ko-fi.com/{{ site.kofi_username }}"><i class="icon fa fa-ko-fi" aria-hidden="true"></i></a>
        {% endif %}
      </div>
  </div>
</div>
