<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <div id="stream_overlay">
        {% include particles.html %}

        <div id="overlay_text_wrapper">
            <div id="title-wrap">
                <span id="greaterthan" class="rgb_text_bigger">&gt;</span>
                <span id="overlay_text" class="rgb_text_bigger">STARTING SOON</span>
                <span id="cursor">▋</span>
            </div>
        </div>
        <div id="overlay_cam">&nbsp;</div>
        &nbsp;
    </div>
    {% include stream/warning.html %}

    {% include footer.html %}
    <script>
    document.addEventListener("DOMContentLoaded", (e) => {
        setParticles(0.5)
    },!1);
    </script>
  </body>
</html>
